@{
    ViewData["Title"] = "Documentation";
}

<div class="card shadow-sm mt-4">
    <documentation-container class="card-body markdown-body">
        <p class="text-muted">Loading Documentation...</p>
    </documentation-container>
</div>